


    <div class="col-md-6">
        <img src="~/img/img.jpg" class="img-fluid" />
    </div>
    <div class="col-md-6">
        <p>img discription</p>
    </div>
    <div>
        
            <a asp-controller="App" asp-action="shop" class="btn btn-primary">Products.</a>
            
</div>

