<div id="navbar" class="navbar">
    <ul class="navbar-nav">
        @if (!User.Identity.IsAuthenticated)
        {


            @*<li class="nav-item">
                    <a class="nav-link" asp-controller="App" asp-action="About">Register</a>
                </li>*@
            <li class="nav-item">
                <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
            </li>

        }
        else
        {

            <div class="text-light">Login As : @User.Identity.Name</div>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Account" asp-action="Logout">Log Out</a>
            </li>

        }
    </ul>
</div>
