@using WebApplication1.Controllers
@using WebApplication1.ViewModel
@using WebApplication1.Data.Entities
@addTagHelper "*,Microsoft.AspNetCore.Mvc.TagHelpers"
@*if you remove or comment the tag helper the you can't use of the asp tag helper

     for example
    <a asp-controller="App" asp-action="Index">Home</a>
     here 'asp-controller' is a tag helper you can't use it functionallity'

*@
