<div class="container">
    <div class="col-md-6 offset-3">
        <form (submit)="OnLogin()" #theForm="ngForm" novalidate>
            <div *ngIf="errorMessage" class="alert alert-warning">{{ errorMessage }}</div>
            <div class="form-group">
                <label for="UserName">User Name</label>
                <input type="text" name="username" class="form-control"  [(ngModel)]="creads.username" #username="ngModel" required/>
                <div class="text-danger" *ngIf="username.touched && username.invalid && username.errors.required">Username is required!</div>
            </div>
            <div class="form-group">
                <label for="Password">Password </label>
                <input type="password" name="password" class="form-control" [(ngModel)]="creads.password" required #password="ngModel"/>
                <div class="text-danger" *ngIf="password.touched && password.invalid && password.errors.required">Password is required!</div>
            </div>
            <div class="form-group">
                
                <input type="checkbox" name="RemamberMe" />
                <label for="RemamberMe">Remamber Me </label>
            </div>
            <div class="form-group">

                <input type="submit" class="form-control btn btn-success" [disabled]="theForm.invalid"/>
                <a routerLink="/" class="btn btn-default">Cancel</a>
            </div>

        </form>
    </div>
</div>